@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300&display=swap');
body{
    font-family: 'Montserrat', sans-serif;
}
h1{
    color: blue;
    text-transform: capitalize;
}
p{
    line-height: 2;
}
.blog-text{
    color:red;
    line-height: 1;
}
.products-text{
    color:green;
    line-height: 1;

}